<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
</head>
<body>
	<footer layout:fragment="footer" class="bg-color text-center text-white">
		<div class="container p-4">
			<section class="mb-1" id="footer-p">
				<h2>Library Management</h2>
				<div class="row row-cols-3 mt-4">
				<a href="https://www.facebook.com/brown.dinh.52" target="_blank" class="col text-end mb-0">Trịnh Đình Nam</a>
				<a href="https://www.facebook.com/tranquoc.hieu.1601" target="_blank" class="col mb-0"> Trần Quốc Hiếu</a>
				<a href="https://www.facebook.com/son.biraden" class="col text-start mb-0"> Nguyễn Võ Thanh Sơn</a>
				</div>
			</section>
		</div>
		<div class="text-center py-2" style="background-color: rgba(0, 0, 0, 0.2)">
			© 2022 Copyright By Team 6</div>
	</footer>
</body>
</html>