<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Read Common CSS -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/webjars/font-awesome/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/layout/layout.css}">
<!-- Read Common JS -->
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<title></title>
</head>
<body>
	<!-- Header -->
	<header layout:replace="~{layout/header::header}"></header>
	<!-- Content -->
	<div class="container mb-5" style="margin-top: 100px; min-height: 50vh">
		<div layout:fragment="content"></div>
	</div>
	<!-- Footer -->
	<footer layout:replace="~{layout/footer::footer}"></footer>
</body>
</html>