@charset "UTF-8";

.bg-color {
	background-color: rgb(255, 128, 0);
}
#footer-p a{
	font-size: 20px;
	text-decoration: none;
	color: white;
	padding: 10px 0;
}

#footer-p a:hover {
	font-size: 150%;
	color: black;
	padding: 0;
}

.sidebar {
	position: fixed;
	display: block;
	top: 58px;
	bottom: 0;
	left: 0;
	font-weight: bold;
}

.main {
	position: fixed;
	display: block;
	top: 58px;
	bottom: 0;
	padding-left: 20px;
	overflow-y: auto;
	height: calc(100vh - 58px);
}