<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<title>Create Author</title>
<!-- Read CSS -->
<link rel="stylesheet" th:href="@{/css/content/list.css}">
</head>
<body>
	<div layout:fragment="content">
		<form id="signup-form" method="post" action="/book/add"
			class="form-signup" th:object="${bookCreateForm}">
			<h1 class="text-center" th:text="#{book.create.title}"></h1>
			<div class="form-group">
				<label for="title" th:text="#{bookTitle}">Title</label> <input type="text"
					class="form-control" th:field="*{title}" th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{title}"></div>
			</div>
			<div class="form-group">
				<label for="isbn" th:text="#{bookIsbn}"></label>
				<input type="text"
					class="form-control" th:field="*{isbn}" th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{isbn}"></div>
			</div>
			<div class="form-group">
				<label th:text="#{bookAuthor}"></label><br>
				<select th:value="*{authorId}" th:field="*{authorId}" th:errorclass="is-invalid">
				<option th:each="item: ${authorList}"
						th:value="${item.authorId}" th:text="${item.name}">
				</select>
				<div class="text-danger" th:if="${#fields.hasErrors('authorId')}" th:errors="*{authorId}"></div>
			</div>
			<!-- Signup button -->
			<input type="submit" th:value="#{book.create.btn}" class="btn btn-primary w-100 mt-3"/>
		</form>
	</div>
</body>
</html>