<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<title>Book Details</title>
<!-- Read CSS -->
<link rel="stylesheet" th:href="@{/css/content/list.css}">
<script th:src="@{/js/br/detail.js}" defer></script>
</head>
<body>
	<div layout:fragment="content" th:object="${borrowReturnForm}">
		<div class="row row-cols-2">
			<div class="col">
				<div class="header border-bottom">
					<h1><i class="fa-solid fa-user-tie"></i> Độc giả</h1>
				</div>
				<table class="table table-striped table-bordered table-hover">
					<tbody>
						<tr>
							<th>Tên</th>
							<td th:text="*{reader.readerName}"></td>
						</tr>
						<tr>
							<th>Email</th>
							<td th:text="*{reader.readerEmail}"></td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="text-center">
							<th colspan="2"><a class="btn btn-outline-primary btn-lg" th:href="@{'/user/detail/'+*{brKey.readerId}}"><i class="fa-solid fa-circle-info"></i> Chi tiết</a></th>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="col">
				<div class="header border-bottom">
					<h1><i class="fa-solid fa-book-open-reader"></i> Sách</h1>
				</div>
				<table class="table table-striped table-bordered table-hover">
					<tbody>
						<tr>
							<th>Tên</th>
							<td th:text="*{book.bookName}"></td>
						</tr>
						<tr>
							<th>Tác giả</th>
							<td th:text="*{book.bookAuthor}"></td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="text-center">
							<th colspan="2"><a class="btn btn-outline-primary btn-lg" th:href="@{'/book/detail/'+*{brKey.bookId}}"><i class="fa-solid fa-circle-info"></i> Chi tiết</a></th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<form id="br-detail-form">
			<!-- User Details information -->
			<input type="hidden" th:field="*{brKey.readerId}">
			<input type="hidden" th:field="*{brKey.bookId}">
			<table class="table table-striped table-bordered table-hover">
				<tbody>
					<tr>
						<th>Ngày mượn</th>
						<td th:text="*{#dates.format(brDateBorrow, 'dd/MM/YYYY')}" colspan="2"></td>
					</tr>
					<tr>
						<th>Ngày Trả</th>
						<td th:text="*{#dates.format(brDateReturn, 'dd/MM/YYYY')}"></td>
						<td th:if="*{brDateReturn == null}" class="text-end">
							<button type="button" id="btn-update-br" class="btn btn-outline-success"><i class="fa-solid fa-hand-holding-dollar"></i> Trả sách</button>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- Button area -->
			<div class="text-center">
				<!-- Delete button -->
				<button id="btn-delete-br" class="btn btn-outline-danger btn-lg px-5" type="button"><i class="fa-solid fa-trash-can"></i> Delete</button>
			</div>
		</form>
	</div>
</body>
</html>