<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<title>Library</title>
<!-- Read Dedicated CSS -->
<link rel="stylesheet" th:href="@{/css/content/list.css}">
<script th:src="@{/js/br/addBr.js}" defer></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="row row-cols-auto justify-content-between border-bottom mb-3">
			<h1 class="col col-md-6"><i class="fa-solid fa-table-list"></i> Lịch sử mượn sách</h1>
			<div class="col">
				<button type="button" class="btn btn-success px-3 py-2" data-bs-toggle="modal" data-bs-target="#addbr"><i class="fa-solid fa-plus"></i> Thêm mới</button>
			</div>
		</div>
		<!-- Form search -->
		<form method="get" action="/br/list" th:object="${brSearchForm}">
			<div class="row gx-0">
				<div class="col">
					<div class="row">
						<label for="tilte" class="col-auto col-form-label">Trạng Thái Sách</label>
						<div class="col-sm-8">
							<select th:field="*{search}" class="form-select form-select-lg mb-3">
								<option th:value="all" selected="selected">All</option>
								<option th:value="dontReturn">Chưa Trả</option>
								<option th:value="returned">Đã Trả</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-auto">
					<button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm</button>
				</div>
			</div>
		</form>
		<!-- List -->
			<div class="table-responsive table table-striped mt-3">
				<table class="table table-bordered table-hover mb-0 border-primary">
					<thead class="table-primary border-primary">
						<tr>
							<th class="text-center col-1">No.</th>
							<th class="text-center col-3">Tên người dùng</th>
							<th class="text-center col-4">Tên sách</th>
							<th class="text-center col-2"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item,state: ${brList}">
							<td class="text-center fw-bold" th:text="${state.count}"></td>
							<td th:text="${item.reader.readerName}"></td>
							<td th:text="${item.book.bookName}"></td>
							<td class="text-center">
								<a class="btn btn-outline-primary" th:href="@{'/br/detail/readerId='+${item.brKey.readerId}+'&bookId='+${item.brKey.bookId}}"><i class="fa-solid fa-circle-info"></i> Chi tiết</a>
							</td>
						</tr>
					</tbody>
				</table>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="addbr" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h3 class="modal-title">Thêm mới</h3>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <form id="form-add-br" th:object="${brNew}">
		      	<div class="modal-body px-3">
		      		<div class="input-group mb-4">
					  	<span class="input-group-text">Sách</span>
					  	<select th:field="*{bookId}">
							<option th:each="item : ${bookList}" th:value="${item.bookId}" th:text="${item.bookName}"></option>
						</select>
					</div>
					<div class="input-group mb-4">
					  	<span class="input-group-text">Độc giả</span>
					  	<select th:field="*{readerId}">
							<option th:each="item : ${readerList}" th:if="${item.readerId} != 1" th:value="${item.readerId}" th:text="${item.readerName}"></option>
						</select>
					</div>
					</div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
			        <button type="button" id="btn-add-br" class="btn btn-primary">Lưu</button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>
	</div>
</body>
</html>