<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Read CSS -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/content/list.css}">
<link rel="stylesheet" th:href="@{/css/layout/layout.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<script th:src="@{/js/login/forgot.js}" defer></script>
</head>
<body class="vh-100 bg-color">
	<div class="container py-5">
		<div class="row d-flex justify-content-center align-items-center h-50">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card bg-dark text-white" style="border-radius: 1rem;">
					<div class="card-body p-5 text-center mb-md-2 mt-md-2 pb-5">
						<form id="form-forgot" class="form-signup" th:object="${forgotForm}">
							<h2 class="fw-bold mb-2 text-uppercase">Tài khoản của bạn</h2>
							<p>Vui lòng nhập Email để đặt lại tài khoản của bạn</p>
							<div class="form-outline form-white mb-4">
								<label class="form-label" for="email">Email</label>
								<input type="text" class="form-control" th:field="*{email}"
									th:errorclass="is-invalid" />
								<div class="invalid-feedback" th:errors="*{email}"></div>
							</div>
							<button type="button" id="btn-search" class="btn btn-primary w-100 mt-3">Tìm kiếm</button>
						</form>
						<a th:href="@{/login}">Quay lại</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>